@model IEnumerable<string>

@inject ICitiesServices _iCitiSerices;

@{
    ViewBag.Title = "Home";
}

<h1>Cities</h1>
@{
    List<string> cityList = _iCitiSerices.GetCities();
}
<ul class="list">
    @foreach (string city in cityList)
    {
        <li>@city</li>
    }
</ul>
<div class="box">
    @ViewBag._icitiesServices1
    <br />
    @ViewBag._icitiesServices2
    <br />
    @ViewBag._icitiesServices3
</div>

<div class="box">
    <h3> @ViewBag.ICitiesServiceChildScope </h3>
</div>
